.badgeContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-14);
}

.badgeContent > span {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 50%;
  line-height: none;
  color: var(--gray-200);
}

.badgeContent > p {
  font-weight: 700;
  line-height: normal;
}

.progress {
  color: var(--blue);
}

.success {
  color: var(--purple);
}
