.contentItem {
  width: 100%;
  background-color: var(--gray-500);
  color: var(--gray-100);

  padding: 1rem;
  margin-bottom: 0.75rem;

  border: 1px solid var(--gray-400);
  border-radius: 8px;

  font-size: 14px;
  line-height: 1.4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.contentItem > p {
  width: 100%;
  text-align: left;
}

.input input {
  display: none;
}

.input input + label::before {
  display: flex;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--blue);
  transition: 0.1s;
}
.input:hover input + label::before {
  background-color: var(--blue-dark);
  opacity: 0.9;
}
.input input:checked + label::before {
  background: url("../assets/check.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--purple-dark);
  transition: background-color 0.1s;
}
.input:hover input:checked + label::before {
  background-color: var(--purple);
}

.contentItem button {
  background: transparent;
  border: none;
  color: var(--gray-300);
  transition: 0.1s;
}
.contentItem button:hover {
  color: var(--danger);
}

.successTask {
  color: var(--gray-300);
  text-decoration-line: line-through;
}
